.send_icon{
    width: 24px;
    cursor: pointer;
}

.header_logo{
    padding-top: 16px;
    padding-bottom: 16px;
    height: 128px;
    aspect-ratio: 3/1;
    display: flex;
    object-fit: cover;
}

.heart_icon{
    height: 24px;
    cursor: pointer;
}

.book_shelf_img{
    max-height: 100px;
    object-fit: cover;
    width: 100%;
}